/* AllReviews.css */

.custom-btn-size {
    width: 50px;
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn-div1 {
    width: 50px;
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
}

.custom-btn-div2 {
    width: 50px;
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: green;
}

.custom-btn-div3 {
    width: 50px;
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
}


.custom-title {
    color: black;
    /* A specific shade of purple */
    font-weight: 700;
    /* Extra bold */
}

.custom-reviewed-by {
    color: rgb(70, 68, 68);
    /* A specific shade of purple */
    font-weight: 500;
    /* Extra bold */
}

.custom-paragraph {
    color: black;
    /* A specific shade of purple */
    font-weight: 100;
    /* Extra bold */
}

.custom-last-updated {
    color: grey;
    /* A specific shade of purple */
    font-weight: 100;
    /* Extra bold */
}